@font-face {
  font-family: "Gilroy";
  src: url('gilroy-extrabold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-light";
  src: local('Gilroy Light'), local('Gilroy-Light'), url('Gilroylight.woff2') format('woff2'), url('Gilroylight.woff') format('woff'), url('Gilroylight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  color: rgba(0, 0, 0, 1);
  line-height: 30px;
  font-weight: 300;
  text-align: left;
  
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

ul {
  list-style: none;
}

.header-logo {
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  font-size: 48px;
  line-height: 50px;
}

.header-logo:hover, 
.header-logo:focus {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.header__search::before {
  content: "";
  background-image: url("../img/icons/search.svg");
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.header__search input[type="search"] {
  opacity: 0.3;
  border: none;
  background-color: transparent;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  text-align: left;
}

.header__search input[type="search"]:hover {
  opacity: 0.6;
}

.header__search input[type="search"]:focus {
  opacity: 1;
}


.user-link::before {
  content: "";
  background-image: url("../img/icons/user.svg");
  display: inline-block;
  width: 13px;
  height: 12px;
  background-repeat: no-repeat;
}

.compare::before {
  content: "";
  background-image: url("../img/icons/compare.svg");
  display: inline-block;
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
}

.user-cart::before {
  content: "";
  background-image: url("../img/icons/cart.svg");
  display: inline-block;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
}

.login-link:hover,
.compare:hover,
.user-cart:hover,
.login-link:focus,
.compare:focus,
.user-cart:focus {
  opacity: 0.6;
}

.login-link:active,
.compare:active,
.user-cart:active {
  opacity: 0.3;
}

.logout-link {
  opacity: 0.3;
}

.header-catalog__caption::after {
  content: "";
  background-image: url("../img/icons/plus.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.header-catalog__caption,
.delivery,
.warranty,
.header-contacts {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.header-catalog__item a {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
}

.header-catalog__item a:hover,
.header-catalog__item a:focus {
  opacity: 0.6;
}

.header-catalog__item a:active {
  opacity: 0.3;
}

.header-catalog__caption:hover,
.header-catalog__caption:focus,
.delivery:hover,
.delivery:focus,
.warranty:hover,
.warranty:focus,
.header-contacts:hover,
.header-contacts:focus {
  opacity: 0.6;
}

.header-catalog__caption:active,
.delivery:active,
.warranty:active,
.header-contacts:active {
  opacity: 0.3;
}

.header-block {
  width: 1160px;
  background-color: rgba(240, 197, 46, 0.5);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-block-caption {
  font-size: 47px;
  line-height: 48px;
}

.breadcrumbs li:not(:first-child)::before {
  content: "";
  width: 4px;
  height: 7px;
  background-image: url("../img/icons/nav-arrow.png");
  background-repeat: no-repeat;
  display: inline-block;
}

.breadcrumbs {

}

.slide__caption {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;                            /* разные размеры шрифта ОК??? */
  line-height: 50px;
}

.slide__count {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179.2px;
  color: #ffffff;
}

.slide__details td {
  font-family: "Gilroy-light";
  font-size: 36px;
  line-height: 48px;
}

.slide__details th {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
}

.slide__button {
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.main-catalog__item a {
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
}



.button {
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border: none;
  background-color: transparent;
}

.option__block button {
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
}

.option__blocks {
  background-color: #e5e5e5;
}

.brands__item img a:first-child {
  opacity: 0;
}

.brands__item img a:last-child:hover {
  opacity: 1;
}

section h3,
.option__block h3 {
  font-size: 47px;
  line-height: 48px;
}

.delivery-options li {
  list-style-image: url("../img/icons/slider-button.png");
}

.footer {
  background-color: #464646;
  color: #ffffff;
}

.footer-logo {
  font-family: "Gilroy";
  font-size: 48px;
  line-height: 48px;
  color: #ffc600;
  
}

.footer-logo:hover, 
.footer-logo:focus {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.options__list a{
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.options__list li:hover,
.options__list li:focus {
  opacity: 0.6;
}

.options__list li:active {
  opacity: 0.3;
}

.footer__login-link a::before {
  content: "";
  background-image: url("../img/icons/footer-user.png");
  display: inline-block;
  width: 13px;
  height: 12px;
  background-repeat: no-repeat;
}

.footer__compare,
.footer__user-cart,
.footer__login-link a {
  color: #ffffff;
  opacity: 0.7;
}

.footer__compare:hover,
.footer__user-cart:hover,
.footer__login-link a:hover,
.footer__compare:focus,
.footer__user-cart:focus,
.footer__login-link a:focus {
  opacity: 1;
}

.footer__compare:active,
.footer__user-cart:active,
.footer__login-link a:active {
  opacity: 0.3;
}

.social-icon_fb::before {
  content: "";
  background-image: url("../img/icons/fb.png");
  width: 32px;
  height: 32px;
  display: inline-block;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.social-icon_fb:hover::before,
.social-icon_fb:focus::before {
  opacity: 0.6;
}
.social-icon_fb:active::before {
  opacity: 0.1;
}

.social-icon_instagram::before {
  content: "";
  background-image: url("../img/icons/inst.png");
  width: 32px;
  height: 32px;
  display: inline-block;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.social-icon_instagram:hover::before,
.social-icon_instagram:focus::before {
  opacity: 0.6;
}
.social-icon_instagram:active::before {
  opacity: 0.1;
}

.social-icon_twitter::before {
  content: "";
  background-image: url("../img/icons/tw.png");
  width: 32px;
  height: 32px;
  display: inline-block;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.social-icon_twitter:hover::before,
.social-icon_twitter:focus::before {
  opacity: 0.6;
}
.social-icon_twitter:active::before {
  opacity: 0.1;
}

.footer__html-logo img:hover,
.footer__html-logo img:focus {
  opacity: 0.6;
}
.footer__html-logo img:active {
  opacity: 0.3;
}

.modal label {
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
}

.modal input {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.4;
  background-color: #f2f2f2;
}

.modal__name input[type="text"] {
  border: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
}

textarea {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  opacity: 0.4;
  background-color: #f2f2f2;
}

.filter h3,
.sort-type-caption {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.filter-block__caption,
.card figcaption {
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
}

.filter-block__options,
.option__bt {
  font-size: 14px;
  line-height: 40px;
} 

input[type="checkbox"]:checked + label::before {
  content: "";
  background-image: url("../img/icons/checkbox-on.png");
  width: 27px;
  height: 23px;
  background-repeat: no-repeat;
  display: inline-block;
}

input[type="checkbox"] + label:hover::before,
input[type="checkbox"] + label:focus::before {
  opacity: 0.6;
}

input[type="checkbox"] + label:active::before {
  opacity: 1;
}

input[type="checkbox"] + label:before {
  content: "";
  background-image: url("../img/icons/checkbox-off.png");
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  display: inline-block;
}

input[type="radio"]:checked + label::before {
  content: "";
  background-image: url("../img/icons/radio-on.png");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  display: inline-block;
}

input[type="radio"]:checked + label:hover::before,
input[type="radio"]:checked + label:focus::before {
  opacity: 0.6;
}

input[type="radio"]:checked + label:active::before {
  opacity: 1;
}

input[type="radio"] + label::before {
  content: "";
  background-image: url("../img/icons/radio-off.png");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  display: inline-block;
}

input[type="radio"] + label:hover::before,
input[type="radio"] + label:focus::before {
  opacity: 0.6;
}

input[type="radio"] + label:active::before {
  opacity: 1;
}

.item__price {
  font-family: "Gilroy-light";
  font-size: 16px;
  line-height: 24px;
}

.option__link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.option__link_deactive {
  opacity: 0.4;
}

.card__compare-button {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  background-color: transparent;
  border: none;
  opacity: 0.5;
}

.card__compare-button:hover,
.card__compare-button:focus {
  opacity: 1;
}

.card__compare-button:active {
  opacity: 0.2;
}


.pagination {
  background-color: #ebebeb;
}

.pagination ul,
.pagination button {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: inherit;
  border: none;
}
.pagination__item:hover,
.pagination__item:focus {
  opacity: 0.6;
}
.pagination__item:active {
  opacity: 1;
}
.pagination__item_deactive {
  opacity: 0.3;
}

.footer__user-link a,
.footer__logout-link a {
  color: #ffffff;
}