@font-face {
  font-family: "Gilroy";
  src: url('gilroy-extrabold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-light";
  src: local('Gilroy Light'), local('Gilroy-Light'), url('Gilroylight.woff2') format('woff2'), url('Gilroylight.woff') format('woff'), url('Gilroylight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  color: rgba(0, 0, 0, 1);
  line-height: 30px;
  font-weight: 300;
  text-align: left;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
.header-logo {
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  font-size: 48px;
  line-height: 50px;
}

.header-logo:hover, 
.header-logo:focus {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.header__search {
  width: 315px;
  position: relative;
  padding-left: 38px;
}

.header__search::before {
  content: "";
  background-image: url("../img/icons/search.svg");
  position: absolute;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  top: 16px;
  left: 3px;

}

.header__search input[type="search"] {
  opacity: 0.3;
  border: none;
  background-color: transparent;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  text-align: left;
}

.header__search input[type="search"]:hover {
  opacity: 0.6;
}

.header__search input[type="search"]:focus {
  opacity: 1;
}

.user-link {
  position: relative;
  padding-left: 26px;
}

.user-link::before {
  content: "";
  background-image: url("../img/icons/user.svg");
  width: 13px;
  height: 12px;
  background-repeat: no-repeat;
  position: absolute;
  top: 9px;
  left: -1px;
}


.compare {
  padding-left: 30px;
  position: relative;

}

.compare::before {
  content: "";
  background-image: url("../img/icons/compare.svg");
  position: absolute;
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  left: 9px;
  top: 11px;
}

.user-cart {
padding-left: 30px;
position: relative;
margin-left: 16px;
}

.user-cart::before {
  content: "";
  background-image: url("../img/icons/cart.svg");
  position: absolute;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  left: 7px;
  top: 9px;
}

.login-link:hover,
.compare:hover,
.user-cart:hover,
.login-link:focus,
.compare:focus,
.user-cart:focus {
  opacity: 0.6;
}

.login-link:active,
.compare:active,
.user-cart:active {
  opacity: 0.3;
}

.logout-link {
  opacity: 0.3;
}

.header-catalog__caption {
  position: relative;
}

.header-catalog__caption::after {
  content: "";
  background-image: url("../img/icons/plus.png");
  position: absolute;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  right: -28px;
  bottom: 3px;
}

.header-catalog__caption,
.delivery,
.warranty,
.header-contacts {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.header-catalog__list {
  padding: 0;
  margin: 0;
  margin-top: 18px;
  height: 110px;
  width: 550px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  position: absolute;
  z-index: 1;
  /* visibility: hidden; */
}

.header-catalog__list-wrapper {
  width: 1040px;
  min-height: 160px;
  background-color: #f7e296;
  z-index: 1;
  position: absolute;
}


.header-catalog__item a {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
}

.header-catalog__item a:hover,
.header-catalog__item a:focus {
  opacity: 0.6;
}

.header-catalog__item a:active {
  opacity: 0.3;
}

.header-catalog__caption:hover,
.header-catalog__caption:focus,
.delivery:hover,
.delivery:focus,
.warranty:hover,
.warranty:focus,
.header-contacts:hover,
.header-contacts:focus {
  opacity: 0.6;
}

.header-catalog__caption:active,
.delivery:active,
.warranty:active,
.header-contacts:active {
  opacity: 0.3;
}



.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.empty-space {
  visibility: hidden;
}

.main-block-caption {
  font-size: 47px;
  line-height: 48px;
}

.breadcrumbs li:not(:first-child)::before {
  content: "";
  width: 4px;
  height: 7px;
  background-image: url("../img/icons/nav-arrow.png");
  background-repeat: no-repeat;
  display: inline-block;
}

.breadcrumbs {

}

.slide__caption {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;                            /* разные размеры шрифта ОК??? */
  line-height: 56px;
}

.slide__count {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179.2px;
  color: #ffffff;
}

.slide__details td {
  font-family: "Gilroy-light";
  font-size: 36px;
  line-height: 48px;
}

.slide__details th {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
}

.main-catalog__item a {
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
}

.button {
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border: none;
  background-color: transparent;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}



.brands__item img a:first-child {
  opacity: 0;
}

.brands__item img a:last-child:hover {
  opacity: 1;
}

section h3,
.service-options h3 {
  font-size: 47px;
  line-height: 48px;
}

.delivery-options li {
  list-style-image: url("../img/icons/slider-button.png");
}

.footer {
  background-color: #464646;
  color: #ffffff;
}

.footer-logo {
  font-family: "Gilroy";
  font-size: 48px;
  line-height: 48px;
  color: #ffc600;
  
}

.footer-logo:hover, 
.footer-logo:focus {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.options__list a{
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.options__list li:hover,
.options__list li:focus {
  opacity: 0.6;
}

.options__list li:active {
  opacity: 0.3;
}

.footer__login-link a::before {
  content: "";
  background-image: url("../img/icons/footer-user.png");
  display: inline-block;
  width: 13px;
  height: 12px;
  background-repeat: no-repeat;
}

.footer__compare,
.footer__user-cart,
.footer__login-link a {
  color: #ffffff;
  opacity: 0.7;
}

.footer__compare:hover,
.footer__user-cart:hover,
.footer__login-link a:hover,
.footer__compare:focus,
.footer__user-cart:focus,
.footer__login-link a:focus {
  opacity: 1;
}

.footer__compare:active,
.footer__user-cart:active,
.footer__login-link a:active {
  opacity: 0.3;
}

.social-icon_fb::before {
  content: "";
  background-image: url("../img/icons/fb.png");
  width: 32px;
  height: 32px;
  display: inline-block;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.social-icon_fb:hover::before,
.social-icon_fb:focus::before {
  opacity: 0.6;
}
.social-icon_fb:active::before {
  opacity: 0.1;
}

.social-icon_instagram::before {
  content: "";
  background-image: url("../img/icons/inst.png");
  width: 32px;
  height: 32px;
  display: inline-block;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.social-icon_instagram:hover::before,
.social-icon_instagram:focus::before {
  opacity: 0.6;
}
.social-icon_instagram:active::before {
  opacity: 0.1;
}

.social-icon_twitter::before {
  content: "";
  background-image: url("../img/icons/tw.png");
  width: 32px;
  height: 32px;
  display: inline-block;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.social-icon_twitter:hover::before,
.social-icon_twitter:focus::before {
  opacity: 0.6;
}
.social-icon_twitter:active::before {
  opacity: 0.1;
}

.footer__html-logo img:hover,
.footer__html-logo img:focus {
  opacity: 0.6;
}
.footer__html-logo img:active {
  opacity: 0.3;
}

.modal label {
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
}

.modal input {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.4;
  background-color: #f2f2f2;
}

.modal__name input[type="text"] {
  border: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
}

textarea {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  opacity: 0.4;
  background-color: #f2f2f2;
}

.filter h3,
.sort-type-caption {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.filter-block__caption,
.card figcaption {
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
}

.filter-block__options,
.option__bt {
  
  font-size: 14px;
  line-height: 40px;
} 

input[type="checkbox"]:checked + label::before {
  content: "";
  background-image: url("../img/icons/checkbox-on.png");
  width: 27px;
  height: 23px;
  background-repeat: no-repeat;
  display: inline-block;
}

input[type="checkbox"] + label:hover::before,
input[type="checkbox"] + label:focus::before {
  opacity: 0.6;
}

input[type="checkbox"] + label:active::before {
  opacity: 1;
}

input[type="checkbox"] + label:before {
  content: "";
  background-image: url("../img/icons/checkbox-off.png");
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  display: inline-block;
}

input[type="radio"]:checked + label::before {
  content: "";
  background-image: url("../img/icons/radio-on.png");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  display: inline-block;
}

input[type="radio"]:checked + label:hover::before,
input[type="radio"]:checked + label:focus::before {
  opacity: 0.6;
}

input[type="radio"]:checked + label:active::before {
  opacity: 1;
}

input[type="radio"] + label::before {
  content: "";
  background-image: url("../img/icons/radio-off.png");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  display: inline-block;
}

input[type="radio"] + label:hover::before,
input[type="radio"] + label:focus::before {
  opacity: 0.6;
}

input[type="radio"] + label:active::before {
  opacity: 1;
}

.item__price {
  font-family: "Gilroy-light";
  font-size: 16px;
  line-height: 24px;
}

.option__link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.option__link_deactive {
  opacity: 0.4;
}

.card__compare-button {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  background-color: transparent;
  border: none;
  opacity: 0.5;
}

.card__compare-button:hover,
.card__compare-button:focus {
  opacity: 1;
}

.card__compare-button:active {
  opacity: 0.2;
}


.pagination {
  background-color: #ebebeb;
}

.pagination ul,
.pagination button {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: inherit;
  border: none;
}
.pagination__item:hover,
.pagination__item:focus {
  opacity: 0.6;
}
.pagination__item:active {
  opacity: 1;
}
.pagination__item_deactive {
  opacity: 0.3;
}

.footer__user-link a,
.footer__logout-link a {
  color: #ffffff;
}


--------------------------------------------

body {
  min-width: 1200px;
  min-height: 2795px;
}

.header__search-wrapper {
  width: 441px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__search input[type="search"] {
  width: 100%;
  padding-top: 8px;
  
}

.header__search:focus + .header__search-button {
  visibility: visible;
}

.header__search:focus {
  border-bottom: 2px solid black;
}

.header__search {
  flex-grow: 1;
  height: 45px;
  border-bottom: 2px solid transparent;
}

.header__search-button {
  width: 85px;
  height: 49px;
  border: 2px solid black;
  background-color: transparent;
  font: inherit;
  padding: 0;
  margin-top: -1px;
  visibility: hidden;
}

.header-block {
  width: 1160px;
  background-color: #f7e296;
  height: 299px;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  z-index: 1;
}

.header {
  width: 1160px;
  height: 170px;
  margin: 40px auto 20px;
}

.header-block2 {
  padding: 36px 60px 0 60px;
}

.header-logo {
  position: absolute;
  top: -25px;
}

.header-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.header-navigation-container {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-options-wrapper {
  width: 220px;
  display: flex;
  justify-content: space-between;
}

.header-options {
  display: flex;
  justify-content: space-between;
}

.header-links-wrapper {
  display: flex;
  justify-content: space-between;
  flex-basis: 500px;
  align-items: center;
}

.header-links-add-wrapper {
  flex-basis: 341px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* SLIDER---------------------------------------------*/

.slide-section {
  min-height: 500px;
}

.slide-wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 89px;
}

.slide__image-wrapper {
  width: 560px;
  display: flex;
}

.slide__image {
  margin: 0 auto;
}

.slide__content-wrapper {
  width: 560px;
  padding-right: 80px;
  box-sizing: border-box;
  position: relative;
  margin-top: 71px;
}

.slide__count {
  position: absolute;
  top: -19px;
  right: 50px;
  z-index: -1;
}

.slide__content-wrapper::before {
  content: "";
  background: #ffffff;
  width: 100px;
  height: 7px;
  position: absolute;
  margin-bottom: 10px;
  top: -43px;
}

.slide__caption {
  z-index: 2;
}

.slide__description {
  margin-top: 19px;
  margin-bottom: 49px;
}

.slide__details {
  margin-top: 55px;
  margin-bottom: 4px;
  border-collapse: collapse;
}

.slide__details th:nth-child(3) {
  padding-left: 3px;
}

.slide__details tr:last-child {
 height: 29px;
}

tr td:first-child,
tr th:first-child {
  width: 157px;
}

tr td:nth-child(2),
tr th:nth-child(2) {
  width: 137px;
}

.button::before {
  content: "";
  display: block;
  height: 6px;
  background-color: #f0c52e;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  border-bottom: 1px solid #f4d361;
  border-top: 1px solid #f4d361;
}

.slide__option-button::before {
  width: 220px;
}

.button:hover::before,
.button:focus::before,
.button:active::before {
  border: none;
  height: 40px;
}

.slide__option-button {
  position: relative; 
  padding-left: 43px;
  padding-right: 43px;
} 

.slide__change-button {
  border-radius: 6px;
  width: 12px;
  height: 12px;
  border: 1px solid black;
  background-color: inherit;
  padding: 0;
  position: relative;
  margin-left: 18px;
}

.slide__change-button_active {
  border-radius: 6px;
  width: 12px;
  height: 12px;
  border: 1px solid black;
  background-color: inherit;
  padding: 0;
  position: relative;
  margin-left: 18px;
}

.slide__change-button_active::before {
  content: "";
  display: block;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  border: 1px solid black;
  background-color: inherit;
  position: absolute;
  top: 2px;
  left: 2px;
  
}

.slide__buttons-wrapper {
  width: 480px;
  display: flex;
  justify-content: space-between;
} 

.slide_hidden {
  display: none;
}

/*------------------------END OF A SLIDER--------------------------------*/

.main-catalog__list {
  width: 1160px;
  min-height: 250px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.main-catalog__item {
  width: 160px;
}

.main-catalog__item-wrapper {
  width: 160px;
  height: 160px;
  background-color: #f7e296;
  display: flex;
  margin: auto;
}

.item__image {
  margin: 0 auto;
}

.main-catalog__item:nth-child(2) .item__image {
  margin-top: auto;
}

.item__description {
  margin: 0;
  padding: 0;
  margin-top: 33px;
}

.main-catalog__item:hover .main-catalog__item-wrapper {
  background-color: #f0c52e;
}

.main-catalog__item:active .item__image {
  opacity: 0.3;
}

.main-catalog__item:active .item__description {
  opacity: 0.3;
}



/*------------------------delivery warranty credit--------------------*/


.service-options-wrapper::before {
  content: "";
  background-color: #e5e5e5;
  height: 288px;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 27px;
}

.service-options-wrapper {
  position: relative;
  margin-top: 145px;
}

.service-options {
  width: 1160px;
  min-height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.none {
  display: none;
}


.service-options__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 13px;
  margin-top: 12px;
  position: relative;
}

.service-options__list::after {
  content: "";
  width: 7px;
  height: 319px;
  background-color: black;
  position: absolute;
  top: -85px;
  right: -135px;
}

.service-options__list li {
  margin-bottom: 35px;
}


.service-option-text-wrapper {
  width: 460px;
}

.service-option-text-wrapper p,
.service-option-text-wrapper h3 {
  margin: 0;
  padding: 0;
}
.service-option-text-wrapper p {
  margin-top: 32px;
}

.service-option__button {
  position: relative;
}

.service-option__button::before {
  width: 160px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.service-option__button:active::before {
  width: 278px;
  height: 40px;
  background-color: black;
  margin-left: 59px;
  border: none;
}

.service-option__button:active {
  color: #f7e184;
}

.service-option__button_active {
  color: #f7e184;
  
}
.service-option__button_active::before {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 278px;
  height: 40px;
  background-color: black;
  margin-left: 59px;
  border: none;
}

.service-option {
  display: flex;
  width: 760px;
  justify-content: space-between;
}

.service-option__image {
  margin-right: 65px;
  margin-top: -20px;
}

/*----------------------BRANDS IMG----------------------*/

.brands {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  margin-top: 202px;
  list-style: none;
}

.brands__item {
  width: 260px;
}

/*------------------------almost footer---------------*/

.section-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 137px;
}

.about-us {
  width: 480px;
}

.main-contacts {
  width: 560px;
}

.section-header {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 43px;
}

.section-header::before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: black;
  position: absolute;
  top: -52px;
}

.section-wrapper p {
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
}

.delivery-options {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
}